<header class="header section">
    <h1 class="site-title">
        <i class="fa-solid fa-stethoscope"></i> DocSpot
    </h1>

    <nav class="site-nav">
        <div class="bar-icon">
            <i class="fa-solid fa-bars"></i>
        </div>
        <ul class="main-menu">
            @if(isLoggedIn()){
                @if(user()?.role == roles.ADMIN){
                    <ng-container [ngTemplateOutlet]="adminMenu"></ng-container>
                }
                @else if (user()?.role == roles.DOCTOR) {
                    <ng-container [ngTemplateOutlet]="doctorMenu"></ng-container>
                }              
            }
        </ul>
        <ul class="right-menu">
            @if(!isLoggedIn()){
                <li><a routerLink="/register">Регистрация</a></li>
                <li>
                    <a routerLink="/login">
                        <i class="fa-solid fa-arrow-right-to-bracket"></i> Вход
                    </a>
                </li>
            } @else {
                <li><a [routerLink]=[]>Здравей, {{ user()?.name }}!</a></li>
                <li>
                    <a href="#" (click)="logout()">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i> Изход
                    </a>
                </li>
            }
            
        </ul>
    </nav>
</header>

<!-- ADMIN MENU TEMPLATE -->
<ng-template #adminMenu>
    <li>
        <a routerLink="/register">
            <i class="fa-solid fa-house"></i> Начало
        </a>
    </li>
    <li>
        <a routerLink="/admin/appointments">
            <i class="fa-solid fa-stethoscope"></i> Прегледи
        </a>
    </li>
    <li>
        <a routerLink="/admin/doctors">
            <i class="fa-solid fa-user-doctor"></i> Доктори
        </a>
    </li>
</ng-template>

<!-- DOCTOR MENU TEMPLATE -->
<ng-template #doctorMenu>
    <li><a routerLink="/doctor">Начало</a></li>
    <li><a routerLink="/doctor/schedule">График</a></li>
</ng-template>