<header class="header section">
    <h1 class="site-title">
        <i class="fa-solid fa-stethoscope"></i> DocSpot
    </h1>

    <nav class="site-nav">
        <div class="bar-icon">
            <i class="fa-solid fa-bars"></i>
        </div>      
        <ul>
            @if(!isLoggedIn()){
                <li><a routerLink="/register">Регистрация</a></li>
                <li><a routerLink="/login">Вход</a></li>
            } @else {
                <span>Здравей, {{ username()?.name }}!</span>
                <li><a href="#" (click)="logout()">Изход</a></li>
            }
            
        </ul>
    </nav>
</header>