.cal-container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3em;
    box-shadow: 0 0 0.2em rgb(0, 0, 0, 0.2);
}

.cal-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 1em 0.5em;
}

.cal-title-days {
    display: flex;
    text-align: center;
    padding: 0.5em 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 0;
    border-right: 0;
}

.cal-content {
    display: flex;
}

.cal-footer {
    padding: 0.5em 0;
}

.col.weekend-title {
    color: var(--color-danger);
}

.card.disabled {
    cursor: auto;
}

.card {    
    cursor: pointer;
}