<div class="cal-container">
    <div class="cal-nav">
        <div><a routerLink="#" (click)="prevMonth()"><i class="fa-solid fa-angle-left"></i></a></div>
        <div class="text-center">{{ monthInfo?.shortLabel }}</div>
        <div class="text-end"><a routerLink="#" (click)="nextMonth()"><i class="fa-solid fa-angle-right"></i></a></div>
    </div>

    <div class="cal-title-days">
        <div class="col">Пон</div>
        <div class="col">Вт</div>
        <div class="col">Ср</div>
        <div class="col">Чет</div>
        <div class="col">Пет</div>
        <div class="col weekend-title">Съб</div>
        <div class="col weekend-title">Нед</div>
    </div>

    @for (week of getWeeks(); track $index) {
        <div class="cal-content text-center">
            @for (day of week; track $index) {
                @if (day.getMonth() != monthInfo?.monthIndex) {
                    <div class="col card m-1 disabled" style="max-height: 8rem;">
                        <div class="card-header">{{ day.getDate() }}</div>
                    </div>
                } @else {
                    <div class="col card bg-danger text-light m-1" style="max-height: 8rem;">
                        <div class="card-header">{{ day.getDate() }}</div>
                    </div>
                }                
            }
        </div>
    }

    <!-- <div class="cal-footer">
        <div class="text-center">Април 2024</div>
    </div> -->
</div>