body {
    background-color: #eee;
}

.wrapper { 
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.section {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.wrapper .site-content {
    display: flex;
    flex-grow: 1;
}

.wrapper .site-content main {
    flex-grow: 1;
}

aside.ads {
    display: none;
    width: 20%;
}