<p>Week view mode</p>
<div class="cal-container">
    <div class="cal-nav">
        <div><i class="fa-solid fa-angle-left"></i></div>
        <div class="text-center">{{ month + " " + year }}</div>
        <div class="text-end"><i class="fa-solid fa-angle-right"></i></div>
    </div>

    <div class="cal-title-days">
        <div class="col">Пон</div>
        <div class="col">Вт</div>
        <div class="col">Ср</div>
        <div class="col">Чет</div>
        <div class="col">Пет</div>
        <div class="col weekend-title">Съб</div>
        <div class="col weekend-title">Нед</div>
    </div>

    <div class="cal-content text-center">
        @for (date of weekDates; track $index) {
            <div class="col card border-success m-1" style="max-height: 8rem;">
                <div class="card-header">{{ date.getDate() }}</div>
            </div>
        }
    </div>

    <!-- <div class="cal-footer">
        <div class="text-center">Април 2024</div>
    </div> -->
</div>