<div class="wrapper">

  <header class="header section">
    
    <h1 class="site-title">
      <i class="fa-solid fa-stethoscope"></i> DocSpot
    </h1>
    
    <nav class="site-nav">
      <div class="bar-icon">
        <i class="fa-solid fa-bars"></i>
      </div>      
      <ul>
        <li><a href="#">Регистрация</a></li>
        <li><a href="#">Вход</a></li>
      </ul>
    </nav>
  </header>

  <div class="site-content section">
  
    <main class="main">
      Main article
      <router-outlet />
    </main>

    <aside class="ads">
      Ads
    </aside>

  </div>

  <footer class="footer section">
    Footer
  </footer>

</div>
