<section class="sch-page-title">
    <h2 class="title-text">График по седмици</h2>
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button type="button" class="btn btn-sm btn-primary active">Седмица</button>
        <button type="button" class="btn btn-sm btn-primary">Месец</button>
    </div>
</section>

<div class="sch-container">
    <div class="sch-nav">
        <div><i class="fa-solid fa-angle-left"></i></div>
        <div class="text-center">Април 2024</div>
        <div class="text-end"><i class="fa-solid fa-angle-right"></i></div>
    </div>

    <div class="sch-days">
        <div class="col">Пон</div>
        <div class="col">Вт</div>
        <div class="col">Ср</div>
        <div class="col">Чет</div>
        <div class="col">Пет</div>
        <div class="col weekend-title">Съб</div>
        <div class="col weekend-title">Нед</div>
    </div>

    <div class="sch-content text-center">
        <div class="col">
            <div class="col card border-success m-1" style="max-height: 8rem;">
            <div class="card-header">21</div>
            <!-- <div class="card-body text-primary">
                <p class="card-text">Some content</p>
            </div> -->
        </div>
        </div>
        <div class="col card border-success m-1" style="max-height: 8rem;">
            <div class="card-header">22</div>
        </div>
        <div class="col card border-success m-1" style="max-height: 8rem;">
            <div class="card-header">23</div>
        </div>
        <div class="col card border-success m-1" style="max-height: 8rem;">
            <div class="card-header">24</div>
        </div>
        <div class="col card border-success m-1" style="max-height: 8rem;">
            <div class="card-header">25</div>
        </div>
        <div class="col card border-success m-1" style="max-height: 8rem;">
            <div class="card-header">26</div>
        </div>
        <div class="col card border-success m-1" style="max-height: 8rem;">
            <div class="card-header">27</div>
        </div>
    </div>

    <!-- <div class="sch-footer">
        <div class="text-center">Април 2024</div>
    </div> -->
</div>
