<section class="sch-page-title">
    <h2 class="title-text">График</h2>
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button type="button" class="btn btn-sm btn-primary active"
                (click)="setViewMode('week')" [class.active]="viewMode === 'week'">
            Седмица
        </button>
        <button type="button" class="btn btn-sm btn-primary"
                (click)="setViewMode('month')" [class.active]="viewMode === 'month'">
            Месец
        </button>
    </div>
</section>

<app-calendar [selectedViewMmode]='viewMode'></app-calendar>
